In [2]:
import csv
import os
from dotenv import load_dotenv
import sys
load_dotenv()
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_csv(r'C:\Work_Directory\Learn\DS_Projects\Sensor_Fault_Detection\artifacts\raw.csv')

In [4]:
df.head(10)

,_id,Sensor-1,Sensor-2,Sensor-3,Sensor-4,Sensor-5,Sensor-6,Sensor-7,Sensor-8,Sensor-9,...,Sensor-581,Sensor-582,Sensor-583,Sensor-584,Sensor-585,Sensor-586,Sensor-587,Sensor-588,Sensor-589,Sensor-590
0,66c84f838110b1626700e98a,2968.33,2476.58,2216.7333,1748.0885,1.1127,100.0,97.5822,0.1242,1.5300,...,NaN,NaN,0.5004,0.0120,0.0033,2.4069,0.0545,0.0184,0.0055,33.7876
1,66c84f838110b1626700e98b,2961.04,2506.43,2170.0666,1364.5157,1.5447,100.0,96.7700,0.1230,1.3953,...,NaN,NaN,0.4994,0.0115,0.0031,2.3020,0.0545,0.0184,0.0055,33.7876
2,66c84f838110b1626700e98c,3072.03,2500.68,2205.7445,1363.1048,1.0518,100.0,101.8644,0.1220,1.3896,...,NaN,NaN,0.4987,0.0118,0.0036,2.3719,0.0545,0.0184,0.0055,33.7876
3,66c84f838110b1626700e98d,3021.83,2419.83,2205.7445,1363.1048,1.0518,100.0,101.8644,0.1220,1.4108,...,NaN,NaN,0.4934,0.0123,0.0040,2.4923,0.0545,0.0184,0.0055,33.7876
4,66c84f838110b1626700e98e,3006.95,2435.34,2189.8111,1084.6502,1.1993,100.0,104.8856,0.1234,1.5094,...,NaN,NaN,0.4987,0.0145,0.0041,2.8991,0.0545,0.0184,0.0055,33.7876
5,66c84f838110b1626700e98f,3003.72,2537.66,2210.7778,2008.9216,1.1351,100.0,91.1078,0.1240,1.3940,...,0.0038,114.2878,0.5033,0.0154,0.0043,3.0647,0.0099,0.0113,0.0038,114.2878
6,66c84f838110b1626700e990,2953.59,2504.86,2224.6778,1308.6479,1.3907,100.0,101.1333,0.1208,1.4517,...,NaN,NaN,0.4963,0.0156,0.0038,3.1427,0.0099,0.0113,0.0038,114.2878
7,66c84f838110b1626700e991,3086.52,2360.04,2204.2333,2110.8288,1.6392,100.0,89.0356,0.1245,1.4798,...,NaN,NaN,0.4925,0.0145,0.0038,2.9486,0.0099,0.0113,0.0038,114.2878
8,66c84f838110b1626700e992,3048.76,2545.68,2224.6778,1308.6479,1.3907,100.0,101.1333,0.1208,1.4563,...,NaN,NaN,0.5032,0.0129,0.0034,2.5678,0.0099,0.0113,0.0038,114.2878
9,66c84f838110b1626700e993,2984.06,2619.60,2225.0222,1730.8480,1.5333,100.0,98.5978,0.1232,1.4696,...,0.0060,151.1930,0.4978,0.0133,0.0032,2.6765,0.0128,0.0193,0.0060,151.1930

In [7]:
df.isna().sum()

_id           0
Sensor-1      1
Sensor-2      0
Sensor-3      3
Sensor-4      3
             ..
Sensor-586    0
Sensor-587    0
Sensor-588    0
Sensor-589    0
Sensor-590    0
Length: 591, dtype: int64